html {
  font-family: "Helvetica Neue", Helvetica, STXihei, STHeiTi, Arial,Microsoft YaHei,sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 20px; }

body {
  margin: 0;
  line-height: 1.5;
  color: #333333;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #0088cc; }

a:active {
  outline: 0; }

a:active {
  color: #006699; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  vertical-align: middle; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: none;
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  resize: vertical; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

html, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial,Microsoft YaHei, sans-serif; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none outside none; }

h1, h2, h3 {
  line-height: 2;
  font-weight: normal; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.4rem; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cccccc; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cccccc; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.img-response {
  display: block;
  max-width: 100%;
  max-height: 100%; }

@media only screen and (max-width: 1366px) {
  html {
    font-size: 16px; } }

@media only screen and (max-width: 720px) {
  html {
    font-size: 13.33333px; } }

@media only screen and (max-width: 360px) {
  html {
    font-size: 13.33333px; } }

@media only screen and (max-width: 320px) {
  html {
    font-size: 11.85185px; } }

.header-box {
  position: relative;
  height: 3.625rem; }
  .header-box.fixed .header-content {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000; }
  .header-box .header-content {
    height: 3.625rem;
    background: #0dbbff;
    padding: 0.75rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .header-box .header-content .title {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
      /*  line-height: pxToRem(145px);*/
      text-align: center;
      white-space: nowrap;
      font-size: 1.5rem;
      color: #fff;
      z-index: 1; }
      .header-box .header-content .title .header-img {
        position: relative;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: #b7e9ff;
        border: 1px solid #b7e9ff;
        padding: 0.1rem;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        margin-top: -0.225rem; }
        .header-box .header-content .title .header-img > img {
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -1.25rem;
          margin-top: -1.25rem;
          width: 2.5rem;
          height: 2.5rem; }
    .header-box .header-content .left-tool {
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      padding-left: 1rem; }
    .header-box .header-content .right-tool {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      padding-right: 1rem; }
      .header-box .header-content .right-tool a .iconfont {
        color: #fff; }
      .header-box .header-content .right-tool .follow-state {
        text-align: center; }
        .header-box .header-content .right-tool .follow-state .icon-heart {
          display: inline-block;
          width: 1.2rem;
          height: 1.2rem;
          background: url("../images/red-heart.png") no-repeat;
          background-size: cover; }
        .header-box .header-content .right-tool .follow-state p {
          text-align: center;
          font-size: 0.9rem;
          color: #fff;
          line-height: 0.9rem; }
        .header-box .header-content .right-tool .follow-state.active .icon-heart {
          display: inline-block;
          width: 1.2rem;
          height: 1.2rem;
          background: url("../images/gray-heart.png") no-repeat;
          background-size: cover; }
        .header-box .header-content .right-tool .follow-state.active p {
          color: #fff; }
      .header-box .header-content .right-tool .icon-top-setting {
        display: inline-block;
        width: 1.7rem;
        height: 1.7rem;
        background: url("../images/icon-top-setting.png") no-repeat;
        background-size: cover; }
      .header-box .header-content .right-tool .icon-scans {
        display: inline-block;
        vertical-align: middle;
        width: 2.1rem;
        height: 2.1rem;
        background: url("../images/icon-tool-nav-scan.png") no-repeat;
        background-size: cover; }
      .header-box .header-content .right-tool .paper-icon {
        width: 1.325rem;
        height: 1.95rem;
        display: inline-block;
        background: url("../images/paper.png") no-repeat;
        background-size: cover;
        vertical-align: middle; }
      .header-box .header-content .right-tool .sx-icon {
        width: 1.2rem;
        height: 1.55rem;
        display: inline-block;
        background: url("../images/sx.png") no-repeat;
        background-size: cover;
        vertical-align: middle; }
      .header-box .header-content .right-tool .sc-icon {
        width: 1.65rem;
        height: 1.65rem;
        display: inline-block;
        background: url("../images/sc.png") no-repeat;
        background-size: cover;
        vertical-align: middle; }
      .header-box .header-content .right-tool .fdj-black-icon {
        width: 1.7rem;
        height: 1.7rem;
        display: inline-block;
        background: url("../images/fdj-black.png") no-repeat;
        background-size: cover;
        vertical-align: middle; }
    .header-box .header-content .back {
      color: #fff;
      font-size: 1.2rem; }
      .header-box .header-content .back .icon-back {
        font-size: 1.5rem; }
    .header-box .header-content .search-top-bar {
      -webkit-flex: 1;
      flex: 1;
      position: relative;
      height: 2.25rem;
      margin-left: 2.5rem; }
      .header-box .header-content .search-top-bar .icon-search {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 1rem;
        margin-top: -0.5rem;
        width: 1.025rem;
        height: 1.025rem;
        line-height: 1.025rem;
        background-size: cover;
        z-index: 2;
        color: #fff; }
      .header-box .header-content .search-top-bar .input-text {
        position: relative;
        width: 100%;
        border: 0;
        height: 100%;
        border-radius: 0.25rem;
        background: none;
        border: 1px solid #fff;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        z-index: 1;
        padding-left: 2.5rem;
        font-size: 1.2rem;
        color: #fff;
        text-align: left; }
        .header-box .header-content .search-top-bar .input-text::-webkit-input-placeholder {
          text-align: center;
          color: #fff; }
        .header-box .header-content .search-top-bar .input-text:focus {
          outline: 0; }
    .header-box .header-content .icon-tool-mark {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 1.8rem;
      height: 1.8rem;
      background: url("../images/icon-tool-mark-white.png") no-repeat;
      background-size: cover; }
    .header-box .header-content .icon-tool-msg {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 1.8rem;
      height: 1.8rem;
      background: url("../images/message.png") no-repeat;
      background-size: cover; }
      .header-box .header-content .icon-tool-msg .number {
        position: absolute;
        right: -0.25rem;
        top: -0.45rem;
        background: #eeb007;
        position: absolute;
        font-size: 0.75rem;
        color: #fff;
        font-style: normal;
        height: 0.9rem;
        line-height: 0.9rem;
        padding: 0 0.3rem; }
    .header-box .header-content .icon-tool-add {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 1.8rem;
      height: 1.8rem;
      background: url("../images/icon-tool-nav-add.png") no-repeat;
      background-size: cover; }
  .header-box.grey .header-content {
    background: #f5f7fc; }
    .header-box.grey .header-content:after {
      display: block; }
    .header-box.grey .header-content:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: auto;
      top: auto;
      height: 1px;
      width: 100%;
      background-color: #e1e1e2;
      display: block;
      z-index: 15;
      transform-origin: 50% 100%; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        .header-box.grey .header-content:after {
          transform: scaleY(0.5); } }
      @media only screen and (-webkit-min-device-pixel-ratio: 3) {
        .header-box.grey .header-content:after {
          transform: scaleY(0.33); } }
    .header-box.grey .header-content .title {
      color: #333333; }
    .header-box.grey .header-content .back .icon-back {
      font-size: 1.75rem;
      color: #969696; }
  .header-box input.input-text:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #3b8dcd;
    opacity: 1; }
  .header-box input.input-text::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #3b8dcd;
    opacity: 1; }
  .header-box input.input-text:-ms-input-placeholder {
    color: #3b8dcd;
    opacity: 1; }
  .header-box input.input-text::-webkit-input-placeholder {
    color: #3b8dcd;
    opacity: 1; }

.header-box-index {
  height: 4.15rem;
  position: relative; }
  .header-box-index.fixed .header-content {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000; }
  .header-box-index .header-content {
    height: 4.15rem;
    background: #0dbbff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  .header-box-index .search-bar-box {
    width: 100%;
    height: 2.65rem;
    margin-top: 0.85rem;
    margin-left: 0.7rem;
    margin-right: 0.75rem;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .header-box-index .search-bar-box .back {
      display: inline-block;
      color: #fff;
      font-size: 1.4rem;
      margin-right: 0.5rem; }
    .header-box-index .search-bar-box > .ewm-box {
      width: 2.15rem;
      height: 1.775rem;
      margin-right: 0.65rem;
      display: inline-block;
      cursor: pointer;
      background: url("../images/ewm.png") no-repeat;
      background-size: cover;
      -webkit-flex-shrink: 1;
      -ms-flex: 0 1 auto;
      flex-shrink: 1;
      position: relative;
      overflow: hidden; }
    .header-box-index .search-bar-box > .message-remind {
      width: 1.8rem;
      height: 1.8rem;
      background: url("../images/message.png") no-repeat;
      background-size: cover;
      display: inline-block;
      cursor: pointer;
      margin-left: 0.85rem;
      -webkit-flex-shrink: 1;
      -ms-flex: 0 1 auto;
      flex-shrink: 1;
      position: relative;
      overflow: hidden; }
    .header-box-index .search-bar-box > .yellow-bg {
      padding: 0.25rem 0.2rem 0.5rem 0.125rem;
      height: 0.625rem;
      line-height: 0.375rem;
      border-radius: 0.15rem;
      background: #eeb007;
      position: absolute;
      right: -0.45rem;
      top: 0.15rem;
      display: inline-block;
      text-align: center;
      font-size: 0.55rem;
      color: #fff; }
    .header-box-index .search-bar-box > .input-search-box {
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      color: #3d4145;
      flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      white-space: nowrap; }
    .header-box-index .search-bar-box > .input-search-box .header-title {
      display: block;
      text-align: center;
      color: #fff;
      font-size: 1.35rem; }
    .header-box-index .search-bar-box > .input-search-box .input-search {
      height: 2.25rem;
      line-height: 2.25rem;
      border-radius: 1.5rem;
      font-size: 1.05rem;
      text-align: center;
      background: #fff;
      position: relative;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      border: 0;
      display: block;
      width: 100%; }
    .header-box-index .search-bar-box > .input-search-box .input-out-box {
      text-align: center;
      display: block; }
    .header-box-index .search-bar-box > .input-search-box .input-text {
      display: inline;
      text-align: center;
      font-size: 1.05rem;
      color: #b5b5b5; }
    .header-box-index .search-bar-box > .input-search-box .fdj-icon {
      width: 0.975rem;
      height: 1.025rem;
      display: inline-block;
      vertical-align: middle;
      margin-top: -0.25rem;
      background: url("../images/fdj.png") no-repeat;
      background-size: cover; }

/*input.input-text:-moz-placeholder { !* Mozilla Firefox 4 to 18 *!
  color: #3b8dcd; opacity:1;
}

input.input-text::-moz-placeholder { !* Mozilla Firefox 19+ *!
  color: #3b8dcd;opacity:1;
}

input.input-text:-ms-input-placeholder{
  color: #3b8dcd;opacity:1;
}

input.input-text::-webkit-input-placeholder{
  color: #3b8dcd;opacity:1;
}*/
@media (max-width: 340px) {
  .header-box .header-content .search-top-bar .input-text {
    font-size: 0.9rem; } }

.footer-nav-box {
  position: relative;
  height: 3.875rem; }
  .footer-nav-box .footer-nav-content {
    position: relative;
    height: 3.875rem;
    background: #fff; }
    .footer-nav-box .footer-nav-content:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: auto;
      height: 1px;
      width: 100%;
      background-color: #d8d8d8;
      display: block;
      z-index: 15;
      transform-origin: 50% 0%; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        .footer-nav-box .footer-nav-content:before {
          transform: scaleY(0.5); } }
      @media only screen and (-webkit-min-device-pixel-ratio: 3) {
        .footer-nav-box .footer-nav-content:before {
          transform: scaleY(0.33); } }
    .footer-nav-box .footer-nav-content .nav-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      height: 100%; }
      .footer-nav-box .footer-nav-content .nav-list > li {
        position: relative;
        -webkit-flex: 1;
        flex: 1;
        height: 100%;
        /*@include hair-line-r($baseBorderColor);*/ }
        .footer-nav-box .footer-nav-content .nav-list > li > a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          height: 3.875rem;
          color: #636363;
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center; }
        .footer-nav-box .footer-nav-content .nav-list > li .icon-wrap {
          position: relative;
          display: block;
          width: 1.875rem;
          margin: 0 auto; }
          .footer-nav-box .footer-nav-content .nav-list > li .icon-wrap i.icon-nav {
            display: inline-block;
            vertical-align: middle;
            width: 1.875rem;
            height: 1.875rem;
            margin-right: 0.5rem; }
        .footer-nav-box .footer-nav-content .nav-list > li .text-wrap {
          display: inline-block;
          font-size: 0.8rem;
          padding-top: 0.3rem;
          line-height: 100%; }
        .footer-nav-box .footer-nav-content .nav-list > li.active > a {
          color: #5d9eff; }
        .footer-nav-box .footer-nav-content .nav-list > li.active .icon-nav-home {
          background: url("../images/bottom-pic1-blue.png") no-repeat;
          background-size: cover; }
        .footer-nav-box .footer-nav-content .nav-list > li.active .icon-nav-quota {
          background: url("../images/bottom-pic2-blue.png") no-repeat;
          background-size: cover; }
        .footer-nav-box .footer-nav-content .nav-list > li.active .icon-nav-special {
          background: url("../images/bottom-pic3-blue.png") no-repeat;
          background-size: cover; }
        .footer-nav-box .footer-nav-content .nav-list > li.active .icon-nav-user {
          background: url("../images/bottom-pic4-blue.png") no-repeat;
          background-size: cover; }
        .footer-nav-box .footer-nav-content .nav-list > li:last-child:after {
          display: none; }
  .footer-nav-box .icon-nav-home {
    background: url("../images/bottom-pic1-gray.png") no-repeat;
    background-size: cover; }
  .footer-nav-box .icon-nav-quota {
    background: url("../images/bottom-pic2-gray.png") no-repeat;
    background-size: cover; }
  .footer-nav-box .icon-nav-special {
    background: url("../images/bottom-pic3-gray.png") no-repeat;
    background-size: cover; }
  .footer-nav-box .icon-nav-user {
    background: url("../images/bottom-pic4-gray.png") no-repeat;
    background-size: cover; }
  .footer-nav-box.fixed .footer-nav-content {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000; }

.footer-pay-box {
  height: 4.1rem; }
  .footer-pay-box .footer-pay-content {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4.1rem;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .footer-pay-box .footer-pay-content:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: auto;
      height: 1px;
      width: 100%;
      background-color: 40px;
      display: block;
      z-index: 15;
      transform-origin: 50% 0%; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        .footer-pay-box .footer-pay-content:before {
          transform: scaleY(0.5); } }
      @media only screen and (-webkit-min-device-pixel-ratio: 3) {
        .footer-pay-box .footer-pay-content:before {
          transform: scaleY(0.33); } }
    .footer-pay-box .footer-pay-content .left-tool {
      flex: 1;
      align-items: center;
      text-align: right;
      padding: 0 1rem;
      justify-content: flex-end;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
      .footer-pay-box .footer-pay-content .left-tool > h4 {
        font-weight: normal;
        font-size: 1.1rem;
        color: #333333; }
        .footer-pay-box .footer-pay-content .left-tool > h4 .money {
          color: #ec971f; }
    .footer-pay-box .footer-pay-content .pay-btn {
      color: #fff;
      font-size: 1.2rem;
      height: 4.1rem;
      line-height: 4.1rem;
      background: #0cb8ff;
      width: 7.5rem;
      text-align: center; }
      .footer-pay-box .footer-pay-content .pay-btn:hover {
        background: #3fc7ff; }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*margin-right: -0.5rem;
  margin-left: -0.5rem;*/ }

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  /*  padding-right: 0.5rem;
  padding-left: 0.5rem;*/ }

.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%; }

.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%; }

.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%; }

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%; }

.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%; }

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%; }

.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%; }

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%; }

.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%; }

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-0 {
  margin-left: 0; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.plane-top-title {
  font-size: 1.05rem;
  margin-top: -0.6rem;
  padding: 0.3rem 1rem;
  color: #000; }

.plane-box {
  position: relative;
  background: #fff;
  margin-bottom: 0.6rem; }
  .plane-box.first:before {
    display: none; }
  .plane-box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #d8d8d8;
    display: block;
    z-index: 15;
    transform-origin: 50% 0%; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      .plane-box:before {
        transform: scaleY(0.5); } }
    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
      .plane-box:before {
        transform: scaleY(0.33); } }
  .plane-box:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #d8d8d8;
    display: block;
    z-index: 15;
    transform-origin: 50% 100%; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      .plane-box:after {
        transform: scaleY(0.5); } }
    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
      .plane-box:after {
        transform: scaleY(0.33); } }

.default-list > li .item-inner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-right: 1rem;
  margin-left: 1rem;
  min-height: 3.45rem; }
  .default-list > li .item-inner:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #d8d8d8;
    display: block;
    z-index: 15;
    transform-origin: 50% 100%; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      .default-list > li .item-inner:after {
        transform: scaleY(0.5); } }
    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
      .default-list > li .item-inner:after {
        transform: scaleY(0.33); } }
  .default-list > li .item-inner .item-media {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-right: 0.75rem; }
  .default-list > li .item-inner .item-content,
  .default-list > li .item-inner .item-center {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: #3d4145;
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    white-space: nowrap; }
  .default-list > li .item-inner .item-title {
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: #3d4145;
    font-size: 1.2rem; }
  .default-list > li .item-inner .item-after {
    white-space: nowrap;
    color: #3d4145;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex; }
    .default-list > li .item-inner .item-after .icon-more {
      color: #ccc; }
  .default-list > li .item-inner .item-right {
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 0.9rem;
    color: #ccc; }

.default-list > li:last-child .item-inner:after {
  display: none; }

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont.eot#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.2rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-back:before {
  content: "\e697"; }

.icon-delete:before {
  content: "\e69d"; }

.icon-edit:before {
  content: "\e69e"; }

.icon-less:before {
  content: "\e6a5"; }

.icon-moreunfold:before {
  content: "\e6a6"; }

.icon-more:before {
  content: "\e6a7"; }

.icon-search:before {
  content: "\e6ac"; }

.icon-selected:before {
  content: "\e6ad"; }

.icon-set:before {
  content: "\e6ae"; }

.icon-smile:before {
  content: "\e6af"; }

.icon-success:before {
  content: "\e6b1"; }

.tab {
  display: none; }
  .tab.active {
    display: block; }

.tab-nav {
  position: relative;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 0.45rem; }
  .tab-nav:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #d8d8d8;
    display: block;
    z-index: 15;
    transform-origin: 50% 100%; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      .tab-nav:after {
        transform: scaleY(0.5); } }
    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
      .tab-nav:after {
        transform: scaleY(0.33); } }
  .tab-nav > a {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 1.2rem;
    color: #3d4145;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.5rem 0.5rem;
    border-bottom: 2px solid transparent;
    z-index: 16; }
    .tab-nav > a.active {
      color: #0cb8ff;
      border-bottom-color: #0cb8ff; }

.color-text {
  color: #3d4145; }

.color-primary {
  color: #0cb8ff; }

.color-success {
  color: #449d44; }

.color-info {
  color: #2cb402; }

.color-warring {
  color: #ec971f; }

.color-danger {
  color: #c9302c; }

.color-link {
  color: #2a6496; }

.input-radio {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  width: 1.4rem;
  height: 1.4rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  vertical-align: middle; }
  .input-radio:focus {
    outline: none; }
  .input-radio:after {
    content: ''; }
  .input-radio:checked {
    background: none; }
    .input-radio:checked:after {
      position: absolute;
      display: block;
      left: 16%;
      top: 16%;
      width: 68%;
      height: 68%;
      border-radius: 50%;
      background-color: #0cb8ff; }

.input-check {
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  vertical-align: middle;
  background: #ddd;
  border: 0; }
  .input-check:focus {
    outline: none; }
  .input-check:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4rem;
    height: 1.4rem;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.4rem;
    content: '\e6ad';
    text-align: center;
    color: #fff;
    background-size: cover;
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale; }
  .input-check:checked {
    border: 0;
    background: #0cb8ff;
    color: #3d4145; }
    .input-check:checked:after {
      color: #fff; }

.input-switch {
  position: relative;
  -webkit-appearance: none;
  display: block;
  height: 1.8rem;
  border-radius: 0.9rem;
  width: 2.875rem;
  background: #ddd;
  border: 0; }
  .input-switch:focus {
    outline: 0; }
  .input-switch:after {
    position: absolute;
    content: "";
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    left: 0.15rem;
    top: 50%;
    margin-top: -0.8rem;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); }
  .input-switch:checked {
    background: #0cb8ff; }
    .input-switch:checked:after {
      left: auto;
      right: 0.15rem; }

.input-text,
.select-text {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: 0;
  display: block;
  width: 100%;
  font-size: 1.2rem;
  height: 100%; }
  .input-text:focus,
  .select-text:focus {
    outline: none; }

.label-for-text {
  display: inline-block;
  margin-right: 0.75rem; }
  .label-for-text > input {
    margin-right: 0.5rem;
    margin-top: -0.15rem; }

.form-list > li .item-title {
  /*
      width: pxToRem(230px);*/
  color: #999; }

.form-list > li .item-center {
  position: relative;
  font-size: 1.2rem; }
  .form-list > li .item-center .input-text {
    padding-right: 1.75rem; }
  .form-list > li .item-center .icon-more {
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    margin-top: -0.7rem;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    z-index: 3;
    color: #ccc; }

.button {
  border: 1px solid #d8d8d8;
  text-decoration: none;
  text-align: center;
  display: block;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  margin: 0;
  white-space: nowrap;
  position: relative;
  text-overflow: ellipsis;
  font-family: inherit;
  cursor: pointer;
  color: #3d4145;
  height: 3rem;
  line-height: 3rem;
  border-radius: 0.3rem;
  font-size: 1.35rem; }
  .button input[type="submit"],
  .button input[type="button"] {
    width: 100%; }
  .button:active, .button.active {
    color: #3d4145;
    background: #f1f1f1; }
  .button:disabled, .button.disabled {
    border-color: #dcdcdc !important;
    color: #fff !important;
    cursor: not-allowed !important;
    background-color: #dcdcdc !important; }
  .button.button-round {
    border-radius: 1.5rem; }
  .button.button-sm {
    height: 1.8rem;
    line-height: 1.8rem;
    border-radius: 0.18rem;
    font-size: 1.05rem; }
    .button.button-sm.button-round {
      border-radius: 0.9rem; }
    .button.button-sm.button-inline {
      display: inline-block;
      padding-left: 0.6rem;
      padding-right: 0.6rem; }
      .button.button-sm.button-inline i.icon {
        margin-right: 0.5rem; }
  .button i.icon {
    margin-right: 0.75rem; }
  .button.button-inline {
    display: inline-block;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }

.button.button-primary {
  border-color: #0cb8ff;
  background-color: #0cb8ff;
  color: #fff; }
  .button.button-primary:active, .button.button-primary.active {
    border-color: #0099d8;
    background-color: #0099d8;
    color: #fff; }

.button.button-line.button-primary {
  border-color: #0cb8ff;
  background-color: transparent;
  color: #0cb8ff; }
  .button.button-line.button-primary:active, .button.button-line.button-primary.active {
    border-color: #0099d8;
    background-color: transparent;
    color: #0099d8; }

.button.button-success {
  border-color: #449d44;
  background-color: #449d44;
  color: #fff; }
  .button.button-success:active, .button.button-success.active {
    border-color: #357935;
    background-color: #357935;
    color: #fff; }

.button.button-line.button-success {
  border-color: #449d44;
  background-color: transparent;
  color: #449d44; }
  .button.button-line.button-success:active, .button.button-line.button-success.active {
    border-color: #357935;
    background-color: transparent;
    color: #357935; }

.button.button-info {
  border-color: #2cb402;
  background-color: #2cb402;
  color: #fff; }
  .button.button-info:active, .button.button-info.active {
    border-color: #208201;
    background-color: #208201;
    color: #fff; }

.button.button-line.button-info {
  border-color: #2cb402;
  background-color: transparent;
  color: #2cb402; }
  .button.button-line.button-info:active, .button.button-line.button-info.active {
    border-color: #208201;
    background-color: transparent;
    color: #208201; }

.button.button-danger {
  border-color: #c9302c;
  background-color: #c9302c;
  color: #fff; }
  .button.button-danger:active, .button.button-danger.active {
    border-color: #9f2623;
    background-color: #9f2623;
    color: #fff; }

.button.button-line.button-danger {
  border-color: #c9302c;
  background-color: transparent;
  color: #c9302c; }
  .button.button-line.button-danger:active, .button.button-line.button-danger.active {
    border-color: #9f2623;
    background-color: transparent;
    color: #9f2623; }

.button.button-warning {
  border-color: #ec971f;
  background-color: #ec971f;
  color: #fff; }
  .button.button-warning:active, .button.button-warning.active {
    border-color: #c77c11;
    background-color: #c77c11;
    color: #fff; }

.button.button-line.button-warning {
  border-color: #ec971f;
  background-color: transparent;
  color: #ec971f; }
  .button.button-line.button-warning:active, .button.button-line.button-warning.active {
    border-color: #c77c11;
    background-color: transparent;
    color: #c77c11; }

.button-row {
  -webkit-align-self: center;
  align-self: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-right: -1px;
  align-content: center;
  justify-content: center; }
  .button-row .button {
    margin-left: -1px;
    border-radius: 0;
    border: 1px solid #0cb8ff;
    color: #0cb8ff; }
    .button-row .button.button-sm {
      border-radius: 0; }
      .button-row .button.button-sm:first-child {
        border-radius: 1.8rem 0 0 1.8rem; }
      .button-row .button.button-sm:last-child {
        border-radius: 0 1.8rem 1.8rem 0; }
    .button-row .button:active {
      border: 1px solid #0cb8ff;
      color: #0cb8ff;
      background-color: transparent; }
    .button-row .button.active {
      background: #0cb8ff;
      color: #fff; }
    .button-row .button:first-child {
      border-radius: 3rem 0 0 3rem; }
    .button-row .button:last-child {
      border-radius: 0 3rem 3rem 0; }
  .button-row.full .button {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.button-box {
  padding: 1rem; }

.toolbar {
  position: relative;
  width: 100%;
  background: #f7f7f8;
  font-size: 1.05rem; }
  .toolbar:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #d8d8d8;
    display: block;
    z-index: 15;
    transform-origin: 50% 0%; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      .toolbar:before {
        transform: scaleY(0.5); } }
    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
      .toolbar:before {
        transform: scaleY(0.33); } }
  .toolbar .title {
    height: 3rem;
    line-height: 3rem;
    color: #3d4145;
    font-size: 1.05rem; }
  .toolbar .picker-button {
    position: absolute;
    right: 0;
    height: 3rem;
    line-height: 3rem;
    box-sizing: border-box;
    color: #0cb8ff;
    z-index: 1;
    right: 1rem; }

.weui-picker-modal {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  border-radius: 0;
  opacity: 0.6;
  color: #3d4145;
  transition-duration: .3s;
  height: 20rem;
  background: #EFEFF4;
  transform: translate3d(0, 100%, 0);
  transition-property: transform, opacity; }
  .weui-picker-modal.picker-modal-inline {
    height: 17rem;
    opacity: 1;
    position: static;
    transform: translate3d(0, 0, 0); }
    .weui-picker-modal.picker-modal-inline .toolbar {
      display: none; }
  .weui-picker-modal.picker-columns-single .picker-items-col {
    width: 100%; }
  .weui-picker-modal.weui-picker-modal-visible {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
  .weui-picker-modal .picker-modal-inner {
    position: relative;
    height: 17rem; }
  .weui-picker-modal .picker-columns {
    width: 100%;
    height: 13rem;
    z-index: 11500; }
    .weui-picker-modal .picker-columns.picker-modal-inline, .popover .weui-picker-modal .picker-columns {
      height: 10rem; }
    @media (orientation: landscape) and (max-height: 415px) {
      .weui-picker-modal .picker-columns:not(.picker-modal-inline) {
        height: 10rem; } }
  .weui-picker-modal .popover.popover-picker-columns {
    width: 14rem; }
  .weui-picker-modal .picker-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    text-align: right;
    font-size: 1rem;
    font-weight: normal;
    -webkit-mask-box-image: -webkit-linear-gradient(bottom, transparent, transparent 5%, white 20%, white 80%, transparent 95%, transparent);
    -webkit-mask-box-image: linear-gradient(to top, transparent, transparent 5%, white 20%, white 80%, transparent 95%, transparent); }
  .weui-picker-modal .bar + .picker-items {
    height: 10.8rem; }
  .weui-picker-modal .picker-items-col {
    overflow: hidden;
    position: relative;
    max-height: 100%; }
    .weui-picker-modal .picker-items-col.picker-items-col-left {
      text-align: left; }
    .weui-picker-modal .picker-items-col.picker-items-col-center {
      text-align: center; }
    .weui-picker-modal .picker-items-col.picker-items-col-right {
      text-align: right; }
    .weui-picker-modal .picker-items-col.picker-items-col-divider {
      color: #3d4145;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center; }
  .weui-picker-modal .picker-items-col-wrapper {
    transition: 300ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .weui-picker-modal .picker-item {
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    transition: 300ms;
    font-size: 18px; }
    .picker-items-col-absolute .weui-picker-modal .picker-item {
      position: absolute; }
    .weui-picker-modal .picker-item.picker-item-far {
      pointer-events: none; }
    .weui-picker-modal .picker-item.picker-selected {
      color: #3d4145;
      transform: translate3d(0, 0, 0);
      transform: rotateX(0deg); }
  .weui-picker-modal .picker-center-highlight {
    height: 32px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    margin-top: -16px;
    pointer-events: none; }
    .weui-picker-modal .picker-center-highlight:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: auto;
      height: 1px;
      width: 100%;
      background-color: #d8d8d8;
      display: block;
      z-index: 15;
      transform-origin: 50% 0%; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        .weui-picker-modal .picker-center-highlight:before {
          transform: scaleY(0.5); } }
      @media only screen and (-webkit-min-device-pixel-ratio: 3) {
        .weui-picker-modal .picker-center-highlight:before {
          transform: scaleY(0.33); } }
    .weui-picker-modal .picker-center-highlight:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: auto;
      top: auto;
      height: 1px;
      width: 100%;
      background-color: #d8d8d8;
      display: block;
      z-index: 15;
      transform-origin: 50% 100%; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        .weui-picker-modal .picker-center-highlight:after {
          transform: scaleY(0.5); } }
      @media only screen and (-webkit-min-device-pixel-ratio: 3) {
        .weui-picker-modal .picker-center-highlight:after {
          transform: scaleY(0.33); } }
  .weui-picker-modal .picker-3d .picker-items {
    overflow: hidden;
    -webkit-perspective: 1200px;
    perspective: 1200px; }
  .weui-picker-modal .picker-3d .picker-items-col, .weui-picker-modal .picker-3d .picker-items-col-wrapper, .weui-picker-modal .picker-3d .picker-item {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  .weui-picker-modal .picker-3d .picker-items-col {
    overflow: visible; }
  .weui-picker-modal .picker-3d .picker-item {
    -webkit-transform-origin: center center -110px;
    transform-origin: center center -110px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }

.weui-picker-overlay, .weui-picker-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  z-index: 1000; }

.city-picker .picker-items-col {
  flex: 1;
  max-width: 7rem; }

.weui-picker-container .weui-cells {
  margin: 0;
  text-align: left; }

.datetime-picker .picker-item {
  text-overflow: initial; }

html, body {
  height: 100%;
  background: #f5f7fc; }
